
.dashboard{
    border: 1px solid var(--sub-border-color); 
    padding: 16px;
    height: calc(100% - 135px);
    overflow: scroll;
}

.dashboardData{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin: 16px 0px;
}

.dashboardDataCard{
     width: 50%; 
    flex: 1;
    height: 500px;
}

@media only screen and (max-width: 650px) {

    .dashboardDataContainer{
        margin-top: 16px;
    }

    .dashboardData{
        flex-direction: column;
        gap: 16px;
        margin: 16px 0px 0px 0px
    }
    .dashboardDataCard{
        width: 100%;
        height: auto;
    }
}
