.DashboardOverviewCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 200px;
    flex-wrap: wrap;
}

.overviewCards {
    width: 33.33%;
    padding: 0px;
    flex: 1;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #d6e7f8;
    -webkit-box-shadow: 14px 14px 40px -27px rgba(13, 110, 127, 0.72);
    -moz-box-shadow: 14px 14px 40px -27px rgba(13, 110, 127, 0.72);
    box-shadow: 14px 14px 40px -27px rgba(13, 110, 127, 0.72);
    border-radius: 8px;
    padding: 5px;
}

.overviewCardsContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.primaryCardText {
    font-size: 18px;
    margin: 5px 0px;
}

.secondaryCardText {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.cardText {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 200;
    display: inline;
}

.totalEmployeesRate {
    width: 50%;
}

.cardTextRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.verticalLine {
    width: 2px;
    height: 100px;
    background-color: #1f1f1f;
    margin: 0px 10px;
}

.horizontalLine{
    height: 2px;
    width: 150px;
    background-color: #1f1f1f;
    margin: 10px 0px;
    display: none;
}

.employeesNumber {
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    .verticalLine{
        display: none;
    }
    .overviewCards{
        height: 15rem;
    }
    .overviewCardsContent{
        width: 100%;
        flex-direction: column;
    }
}
