
.app{
  padding: 5px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

:root {
  --main-bg-color: #ffffff;
  --sub-bg-color: #304384;
  --main-border-color: #579ee0;
  --sub-border-color: #d9eaf2;
  --sub-text-color: #555a65;
}
